@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




body {
 background-image: linear-gradient(rgba(15, 18, 33, 0.85), rgba(15, 18, 33, 0.85)), url(./assets/bg.webp);
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}